/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.encabezado {
    background-image: url('../img/banderafrancia.webp');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    /* La imagen se ajusta para cubrir todo el espacio */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    background-position: center center;
    /* Centra la imagen horizontal y verticalmente */
    text-align: center;
}

.encabezado h1 {
    font-family: 'Pacifico';
    color: rgba(14, 2, 3, 0.7);
    font-size: 36px;
    margin: 0;
    cursor: default;
}


.imagen_bandera {
    width: 100px; 
    height: auto;
}

/* Estilo para la barra de navegación */
.navegador ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

.navegador li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.navegador li a:hover {
    background-color: #555;
}

/* Estilo para el contenido principal */
.informacion {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.introducción h2 {
    font-size: 24px;
}

.introducción p {
    font-size: 16px;
    line-height: 1.5;
}

.introducción ul {
    margin-left: 20px;
}

.introducción li {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para los artículos de platos típicos */
.platos_tipicos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.platos_tipicos article {
    flex-basis: calc(50%);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.platos_tipicos h3 {
    font-size: 20px;
    margin: 0;
}

.platos_tipicos p {
    font-size: 16px;
    line-height: 1.5;
}

.platos_tipicos img {
    max-width: 100%;
    height: auto;
}

/* Estilo para el pie de página */
.pie_pagina {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}